html, body {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
    height: 100%;
	overflow: hidden;
	
	font-family: 'Titillium Web', sans-serif;
}

#toolbar {
	background-color: #74A7BC;
	position: absolute;
	top: 0;
	width: 100%;
	height: 55px;
}

.toolbar-item {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-align: center;
	font-size: 36px;
	cursor: pointer;
}

.toolbar-item:hover {
	color: #444;
	text-shadow: 2px 2px 5px #444;
}

#workarea {
	background-color: #8C9FA7;
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: 92.5%;
}

#canvas {
	outline: none;
}

.workarea-item {
	width: 100%;
	height: 100%;
}

#statusbar {
	background-color: #74A7BC;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5%;
}

.statusbar-item {
	position: relative;
	bottom: 5px;
	
	font-family: 'Ubuntu Mono', monospace;
	font-size: 14px;
}
